/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utily */
.conteiner {
    width: 70%;
    margin: 0 auto;
}

.flex {
    display: flex;
}


/* header */
/* header top */
.bg-header-top {
    background-color: #ADD8E6; 
    padding: 10px; 
    height: 50px;
}

.header-top.flex {
    justify-content: space-between;
    /* debug */
    background-color: #DAA520;
    border: 1px dashed black;
}

.col-20 {
    height: 30px;
    width: 20%;
    line-height: 30px;
    padding: 0 3px;
}

.col-60 {
    height: 30px;
    width: 60%;
    line-height: 30px;
    /* debug */
    border-right: 1px dashed black;
    border-left: 1px dashed black;
}

.header-top.flex p:last-child {
    text-align: right;
}


ul {
    list-style: none;
}

.list-header-top.flex {
    justify-content: center;
    gap: 10px;
}

/* header bottom */
.header-bottom.flex {
    justify-content: center;
    align-items: start;
    height: 365px;
    padding-top: 32px;
    /* debug */
    background-color: #00008B;
    
}

.content-header-bottom {
    min-height: 300px;
    width: 840px;
    /* debug */
    background-color: #EE82EE;
    border: 1px dashed black;
}

/* main */
.main {
    padding-top: 15px;
}
.stn-primary.flex {
    min-height: 300px;
    border: 1px dashed black;
}

.col-large {
    width: 60%;
    /* debug */
    background-color: #1E90FF;
    border: 1px dashed black;
}

.col-small {
    width: 40%;
    border: 1px dashed black;
    background-color: #FFC0CB;
}

main section {
    margin-bottom: 30px;
}

.bg-stn-secondary {
    height: 360px;
    padding-top: 30px;
    background-color: #D3D3D3;
    margin-bottom: 30px;
}

.stn-secondary.flex {
    flex-direction: row-reverse;
    min-height: 300px;
    border: 1px dashed black;
}

.stn-tertiary.flex {
    min-height: 300px;
    border: 1px dashed black;
}

.bg-content-main {
    height: 550px;
    padding-top: 30px;
    background-color: #D3D3D3;
    margin-bottom: 30px;
}

.content-main {
    min-height: 490px;
    width: 100%;
    /* debug */
    background-color: #228B22;
    border: 1px dashed black;
}